<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kopo.kpaas.mapper.HikingRouteMapper">

    <!-- Fetch the polygon points -->
    <select id="getPolygonPoints" parameterType="String" resultType="kopo.kpaas.dto.PolygonPointsDTO">
        SELECT
            FirstPointLat, FirstPointLng,
            SecondPointLat, SecondPointLng,
            ThirdPointLat, ThirdPointLng,
            FourthPointLat, FourthPointLng,
            CentroidLat, CentroidLng
        FROM PolygonPoints
        WHERE user_id = #{userId}
                 LIMIT 1
    </select>

    <!-- Check if the user has any saved route data -->
    <select id="countRoutesByUserId" resultType="int">
        SELECT COUNT(*)
        FROM RouteProperties
        WHERE USER_ID = #{userId}
    </select>

    <!-- Delete the user's route data by userId -->
    <delete id="deleteRoutesByUserId">
        DELETE FROM RouteProperties
        WHERE USER_ID = #{userId}
    </delete>

    <!-- Insert new route data -->
    <insert id="insertRouteProperties">
        INSERT INTO RouteProperties
        (USER_ID, ROUTE_ID, PAGE, SEC_LEN, UP_MIN, DOWN_MIN, CAT_NAM, MNTN_NM, GEOMETRY, REG_ID, REG_DT, CHG_ID, CHG_DT)
        VALUES
            (#{userId}, #{routeId}, #{page}, #{secLen}, #{upMin}, #{downMin}, #{catNam}, #{mntnNm}, ST_GeomFromText(#{geometry}),
             #{userId}, NOW(), #{userId}, NOW())
    </insert>

    <!-- Retrieve hiking route data for a user -->
    <select id="findRoutesByUserId" parameterType="String" resultType="kopo.kpaas.dto.RoutePropertiesDTO">
        SELECT
            ROUTE_ID as routeId,
            PAGE as page,
            SEC_LEN as secLen,
            UP_MIN as upMin,
            DOWN_MIN as downMin,
            CAT_NAM as catNam,
            MNTN_NM as mntnNm,
            ST_AsText(GEOMETRY) as geometry
        FROM RouteProperties
        WHERE USER_ID = #{userId}
        ORDER BY PAGE ASC
    </select>

    <select id="findRoutesByUserIdAndRouteIds" parameterType="map" resultType="kopo.kpaas.dto.RoutePropertiesDTO">
        SELECT
        ROUTE_ID as routeId,
        PAGE as page,
        SEC_LEN as secLen,
        UP_MIN as upMin,
        DOWN_MIN as downMin,
        CAT_NAM as catNam,
        MNTN_NM as mntnNm,
        ST_AsText(GEOMETRY) as geometry
        FROM RouteProperties
        WHERE USER_ID = #{userId}
        AND ROUTE_ID IN
        <foreach collection="routeIds" item="routeId" open="(" separator="," close=")">
            #{routeId}
        </foreach>
    </select>
</mapper>


