<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kopo.kpaas.mapper.HikingRouteMapper">

    <!-- Fetch the polygon points -->
    <select id="getPolygonPoints" parameterType="String" resultType="kopo.kpaas.dto.PolygonPointsDTO">
        SELECT
            FirstPointLat, FirstPointLng,
            SecondPointLat, SecondPointLng,
            ThirdPointLat, ThirdPointLng,
            FourthPointLat, FourthPointLng,
            CentroidLat, CentroidLng
        FROM PolygonPoints
        WHERE user_id = #{userId}
                 LIMIT 1
    </select>

    <!-- Check if the user has any saved route data -->
    <select id="countRoutesByUserId" resultType="int">
        SELECT COUNT(*)
        FROM RouteProperties
        WHERE USER_ID = #{userId}
    </select>

    <!-- Delete the user's route data by userId -->
    <delete id="deleteRoutesByUserId">
        DELETE FROM RouteProperties
        WHERE USER_ID = #{userId}
    </delete>

    <!-- Insert new route data -->
    <insert id="insertRouteProperties">
        INSERT INTO RouteProperties
        (USER_ID, ROUTE_ID, PAGE, SEC_LEN, UP_MIN, DOWN_MIN, CAT_NAM, MNTN_NM, GEOMETRY, REG_ID, REG_DT, CHG_ID, CHG_DT)
        VALUES
            (#{userId}, #{routeId}, #{page}, #{secLen}, #{upMin}, #{downMin}, #{catNam}, #{mntnNm}, ST_GeomFromText(#{geometry}),
             #{userId}, NOW(), #{userId}, NOW())
    </insert>

</mapper>


