<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.kpaas.mapper.IPointMapper">

    <!-- Select points by user_id -->
    <select id="selectPoints" resultType="PolygonPointsDTO">
        SELECT * FROM PolygonPoints WHERE USER_ID = #{userId}
    </select>

    <!-- Insert new polygon points for a user -->
    <insert id="insertPoints">
        INSERT INTO PolygonPoints (USER_ID, FirstPointLat, FirstPointLng, SecondPointLat, SecondPointLng,
                                   ThirdPointLat, ThirdPointLng, FourthPointLat, FourthPointLng,
                                   CentroidLat, CentroidLng, REG_ID, REG_DT, CHG_ID, CHG_DT)
        VALUES (#{userId}, #{firstPointLat}, #{firstPointLng}, #{secondPointLat}, #{secondPointLng},
                #{thirdPointLat}, #{thirdPointLng}, #{fourthPointLat}, #{fourthPointLng},
                #{centroidLat}, #{centroidLng}, #{userId}, NOW(), #{userId}, NOW())
    </insert>

    <!-- Delete points for a user before inserting new data -->
    <delete id="deleteByUserId">
        DELETE FROM PolygonPoints WHERE USER_ID = #{userId}
    </delete>

    <!-- Count rows for a specific user_id -->
    <select id="countRows" resultType="int">
        SELECT COUNT(*) FROM PolygonPoints WHERE USER_ID = #{userId}
    </select>

</mapper>

